.layout {
  height: 100vh;
  min-height: 100vh;
  background-color: #f3f2f7;
}
.sidebar {
  height: 100vh;
  min-height: 100vh;
  background-color: #fff;
  border-right: 1px solid rgba(5, 5, 5, 0.06);
  :global {
    .ant-layout-sider-zero-width-trigger {
      background-color: rgba($color: #000000, $alpha: 0.05);
      color: #353535;
      width: 30px;
      height: 30px;
      top: 0;
      right: -30px;
      border-radius: 0 4px 4px 0;
    }
  }
}
.logo {
  text-decoration: none;
  padding: 15px 15px 8px;
  height: 99px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #2a6beb80;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #0088ff;
  white-space: nowrap;
  @media (max-width: 1920px) {
    height: 88px;
    font-size: 18px;
    gap: 0;
  }
  img {
    width: 76px;
    height: 76px;
    object-fit: contain;
  }
}
.menu {
  overflow-y: scroll;
  max-height: calc(100% - 99px);
  padding: 25px 1px 10px 19px;
  border: 0 !important;
  @media (max-width: 1920px) {
    max-height: calc(100% - 88px);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  :global {
    .ant-menu-sub {
      background-color: transparent !important;
    }
    .ant-menu-item,
    .ant-menu-submenu-title {
      margin: 0;
      padding: 14px 18px 16px 37px;
      border-radius: 8px;
      font-family: "Barlow", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px !important;
      color: #464255;
      min-height: 54px;
      &:not(:last-child) {
        margin-bottom: 8px;
        @media (max-width: 1920px) {
          margin-bottom: 4px;
        }
      }
      @media (max-width: 1920px) {
        font-size: 16px;
        line-height: 1.5 !important;
        min-height: 46px;
      }
    }
    .ant-menu-item-selected {
      background: rgba(0, 78, 152, 0.1);
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      color: #0c3e9f;
      position: relative;
      overflow: initial;
      &::before {
        content: "";
        position: absolute;
        width: 8.72px;
        height: 43.74px;
        left: calc(-10.28px - 8.72px);
        top: 4.74px;
        background: #0088ff;
        border-radius: 58px;
        @media (max-width: 1920px) {
          height: 36px;
          top: 6px;
          width: 6px;
        }
      }
    }
    .ant-menu-submenu-selected {
      .ant-menu-submenu-title {
        color: #0088ff;
      }
    }
    .ant-menu-submenu {
      .ant-menu-item-selected {
        font-weight: 500;
        color: #464255;
      }
    }
  }
}
.header {
  height: 99px;
  background-color: #f3f2f7;
  padding: 30px 54px 13px 42px;
  @media (max-width: 1920px) {
    padding: 16px 30px;
    height: 88px;
  }
  @media (max-width: 1199px) {
    padding: 16px 20px;
  }
  :global {
    .ant-input-affix-wrapper {
      padding: 15px 28px;
      font-family: "Barlow", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #969ba0;
      border-color: #ebebeb;
      border-radius: 8px;
      height: 56px;
      min-width: 300px;
      @media (max-width: 1199px) {
        display: none;
      }
    }
    .ant-input-suffix {
      svg {
        height: 24px;
        width: auto;
      }
    }
    .ant-badge {
      .ant-avatar {
        width: 48px;
        height: 48px;
        border-radius: 15px;
        svg {
          width: 28px;
          height: auto;
        }
      }
      .ant-badge-count {
        font-family: "Barlow", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        width: 25px;
        height: 25px;
        border: 3px solid #fff;
        border-radius: 50%;
      }
    }
    .ant-divider {
      @media (max-width: 1399px) {
        display: none;
      }
    }
  }
  .headerInner {
    gap: 40px;
    @media (max-width: 1199px) {
      gap: 20px;
    }
  }
  .headerIcons {
    gap: 30px;
    @media (max-width: 1199px) {
      gap: 16px;
      margin-left: auto;
    }
  }
  .welcome {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #464255;
    @media (max-width: 1399px) {
      display: none;
    }
  }
}
.content {
  min-height: 0;
  height: 100%;
  padding: 0;
  overflow: auto;
  background-color: #f3f2f7;
  display: flex;
  flex-direction: column;
}
