.appLayout {
  height: 100vh;
  min-height: 100vh;
  background-color: var(--cds-color-bg-base);
  --app-header-height: 80px;
  --app-layout-content-px: 32px;
  @media (max-width: 1599px) {
    --app-layout-content-px: 24px;
  }
  @media (max-width: 1199px) {
    --app-layout-content-px: 20px;
  }
  @media (max-width: 991px) {
    --app-header-height: 74px;
  }
  * {
    ::-webkit-scrollbar {
      width: 8px;
      height: 6px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #cfcfcf;
    }
  }
}

.content {
  min-height: 0;
  height: 100%;
  padding: 0;
  overflow: auto;
  background-color: var(--cds-color-bg-base);
  display: flex;
  flex-direction: column;
}
