.iconCard {
  :global {
    .ant-badge-count {
      width: 24px;
      height: 24px;
      padding: 2px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      line-height: 18px;
      border-radius: 50%;
      border: 3px solid #fff;
    }
  }
}
