.items {
  padding-top: 25px;
  --items-grid-gap: 24px;
  --items-grid-item-max-size: 300px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--items-grid-item-max-size), 1fr)
  );
  gap: var(--items-grid-gap);
  @media (max-width: 1024px) {
    --items-grid-item-max-size: 250px;
  }
  @media (max-width: 991px) {
    --items-grid-gap: 16px;
    --items-grid-item-max-size: 220px;
  }
  @media (max-width: 576px) {
    --items-grid-item-max-size: 130px;
  }
}
