.inner {
  background-color: var(--cds-color-bg-base);
  padding: 0 var(--app-layout-content-px);
}
.header {
  background-color: var(--cds-color-bg-base);
  padding: 16px var(--app-layout-content-px) 10px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.pickerTogger {
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 14px 25px 14px 26px;
  @media (max-width: 600px) {
    width: 100%;
  }
  :global {
    .ant-avatar {
      width: 48px;
      height: 48px;
      border-radius: 15px;
      svg {
        width: 34px;
        height: auto;
      }
    }
  }
}
.calendarInfo {
  flex: 1;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-right: 8px;
  min-width: 128px;
  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #3e4954;
  }
}
.statistics,
.charts {
  margin-bottom: 40px;
  row-gap: 30px;
  @media (max-width: 1920px) {
    margin-left: -15px !important;
    margin-right: -15px !important;
    :global {
      .ant-col {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }
    }
  }
  @media (max-width: 1199px) {
    margin-left: -10px !important;
    margin-right: -10px !important;
    row-gap: 20px;
    margin-bottom: 20px;
    :global {
      .ant-col {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
  }
}
