.inner {
  width: 541px;
  max-width: 100%;
  margin: 0 auto;
  :global {
    .ant-form-item {
      width: 100%;
      margin-bottom: 90px;
      @media (max-width: 576px) {
        margin-bottom: 50px;
      }
    }
  }
}
