.inner {
  width: 681px;
  max-width: 100%;
  margin: 0 auto;
  :global {
    .ant-form-item {
      margin-bottom: 77px;
      @media (max-width: 576px) {
        margin-bottom: 50px;
      }
    }
    .ant-form-item-control-input-content {
      > div {
        gap: 30px;
        @media (max-width: 767px) {
          gap: 20px;
        }
        @media (max-width: 576px) {
          gap: 10px;
        }
        @media (max-width: 400px) {
          gap: 8px;
        }
      }
    }
  }
  input {
    box-sizing: border-box;
    min-width: 86px;
    height: 92px;
    border: 2px solid #3461ff;
    border-radius: 90px;
    text-align: center;
    font-family: "ABeeZee", sans-serif;
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    outline: 0;
    color: #fff;
    padding: 0 10px;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    @media (max-width: 767px) {
      min-width: 66px;
      height: 80px;
      font-size: 30px;
    }
    @media (max-width: 576px) {
      min-width: 50px;
      height: 60px;
      font-size: 20px;
    }
    @media (max-width: 400px) {
      min-width: 40px;
      height: 50px;
      font-size: 18px;
      border-width: 1px;
    }
  }
}
