.cardItem {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  height: 100%;
  background: #ffffff;
  box-shadow: 10px 20px 60px rgba(17, 23, 160, 0.0509804);
  border-radius: 12px;
  color: var(--cds-menu-item-color);
  transition: all ease-in-out 0.3s;
  &:hover {
    box-shadow: 10px 20px 60px rgba(17, 23, 160, 0.1);
    color: var(--cds-color-primary);
  }
  @media (max-width: 991px) {
    border-radius: 8px;
  }
  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
  }
}
.cardIcon {
  --icon-size: 60px;
  min-width: var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
  overflow: hidden;
  @media (max-width: 991px) {
    --icon-size: 50px;
  }
  @media (max-width: 576px) {
    --icon-size: 40px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.cardLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  max-width: calc(100% - var(--icon-size) - 10px);
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--cds-menu-item-color);
}
