.card {
  flex: 1;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 14px;
  padding: 16px 10px 10px 16px;
  height: 100%;
  gap: 16px;
}
.value {
  min-height: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
.label {
  min-height: 18px;
  font-size: 15px;
  line-height: 18px;
}
.percent {
  padding-top: 4px;
  margin-top: auto;
  :global {
    .ant-avatar {
      width: 16px;
      height: 16px;
      svg {
        width: auto;
        height: 6px;
      }
    }
  }
}

.percentLabel {
  font-size: 12px;
  line-height: 18px;
  color: #a3a3a3;
}
