.appSidebar {
  height: 100vh;
  min-height: 100vh;
  background-color: #fff;
  border-right: 1px solid rgba(5, 5, 5, 0.06);
  :global {
    .ant-layout-sider-zero-width-trigger {
      background-color: rgba($color: #000000, $alpha: 0.05);
      color: #353535;
      width: 30px;
      height: 30px;
      top: 0;
      right: -30px;
      border-radius: 0 4px 4px 0;
      @media (min-width: 992px) {
        display: none;
      }
    }
  }
}
.appMenu {
  overflow: auto;
  max-height: calc(100% - var(--app-header-height));
  padding: 24px 16px;
  border: 0 !important;
  :global {
    .ant-menu-sub {
      background-color: transparent !important;
    }
    .ant-menu-item,
    .ant-menu-submenu-title {
      margin: 0;
      padding: 16px;
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px !important;
      min-height: 52px;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
    .ant-menu-item-selected {
      background: rgba(0, 78, 152, 0.1);
      color: var(--cds-color-primary);
      position: relative;
      overflow: initial;
      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 40px;
        left: -20px;
        top: 6px;
        background: var(--cds-color-primary);
        border-radius: 8px;
      }
    }
    .ant-menu-submenu {
      .ant-menu-item {
        min-height: 48px;
      }
    }
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--cds-color-border);
  }
}
