:global {
  .ant-layout-sider {
    @media (max-width: 991px) {
      position: fixed;
      z-index: 999;
      &:not(.ant-layout-sider-collapsed) {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-color: rgba($color: #000000, $alpha: 0.2);
        }
      }
      .ant-layout-sider-children {
        position: relative;
        z-index: 2;
        height: 100%;
        background: #fff;
      }
    }
    .ant-layout-sider-zero-width-trigger {
      background-color: #fff;
      color: var(--cds-color-text);
      width: 40px;
      height: 40px;
      top: 16px;
      right: -40px;
      border-radius: 0 8px 8px 0;
      z-index: 999;
      @media (min-width: 992px) {
        display: none;
      }
      .anticon {
        font-size: 24px;
      }
    }
  }
}
.appSidebar {
  height: 100vh;
  min-height: 100vh;
  background-color: #fff;
  border-right: 1px solid rgba(5, 5, 5, 0.06);
}
.appMenu {
  overflow: auto;
  max-height: calc(100% - var(--app-header-height));
  padding: 24px 16px;
  border: 0 !important;
  :global {
    .ant-menu-sub {
      background-color: transparent !important;
    }
    .ant-menu-item,
    .ant-menu-submenu-title {
      margin: 0;
      padding: 16px;
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px !important;
      min-height: 52px;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
    .ant-menu-item-selected {
      background: rgba(0, 78, 152, 0.1);
      color: var(--cds-color-primary);
      position: relative;
      overflow: initial;
      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 40px;
        left: -20px;
        top: 6px;
        background: var(--cds-color-primary);
        border-radius: 8px;
      }
    }
    .ant-menu-submenu {
      .ant-menu-item {
        min-height: 48px;
      }
    }
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--cds-color-border);
  }
}
