.modal {
  :global {
    .ant-modal-content {
      padding: 30px 42px 27px 43px;
      border-radius: 10px;
    }
    .ant-modal-footer {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      .ant-btn {
        margin-inline-start: 0 !important;
        width: 140px;
        text-transform: uppercase;
      }
    }
  }
}

.icon {
  height: 90px;
  margin-bottom: 23px;
  text-align: center;
  svg {
    height: 100%;
    width: auto;
  }
}
.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.001em;
  color: #081233;
  margin-bottom: 13px;
}
.message {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.001em;
  color: #757575;
  margin-bottom: 27px;
}
