@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Button */
.ant-btn {
  --cds-btn-icon-size: 16px;
  --cds-btn-line-height: 22px;
  --cds-font-size-icon: 16px;
  &-lg {
    --cds-btn-icon-size: 18px;
    --cds-btn-line-height: 24px;
    --cds-font-size-icon: 18px;
  }
  line-height: var(--cds-btn-line-height);
  .anticon {
    font-size: var(--cds-btn-icon-size);
  }
}

/* Dropdown */
.ant-dropdown {
  .ant-dropdown-menu {
    .ant-dropdown-menu-item-icon {
      --cds-font-size-sm: 16px;
      --cds-font-size: 16px;
    }
  }
}

/* Breadcrumb */
.ant-breadcrumb {
  li:last-child {
    .ant-breadcrumb-link {
      font-weight: 500;
    }
  }
}

/* Tabs */
.ant-tabs {
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      font-weight: 600;
    }
  }
}

/* Tree */
.ant-tree {
  .ant-tree-treenode {
    width: 100%;
    padding: 4px 0;
    border-bottom: 1px solid var(--cds-color-border);
  }
}

/* Form Item */
.ant-form-item {
  .ant-form-item-required {
    --cds-form-label-colon-margin-inline-start: 4px;
    &::before {
      display: none !important;
    }
    &::after {
      visibility: visible !important;
      display: inline-block;
      color: var(--cds-form-label-required-mark-color);
      font-size: var(--cds-font-size);
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: "*" !important;
    }
  }
}

/* Input */
[class^="ant-input"] {
  .anticon {
    font-size: 16px;
  }
  .ant-input-prefix,
  .ant-input-suffix {
    --cds-padding-xxs: 8px;
    color: var(--cds-color-text-secondary);
  }
  &.ant-input-search {
    .ant-input-group {
      position: relative;
    }
    .ant-input {
      border-radius: var(--cds-border-radius);
    }
    .ant-input-lg {
      border-radius: var(--cds-border-radius-lg);
    }
    .ant-input-group-addon {
      .ant-btn {
        position: absolute;
        right: 2px;
        top: 1px;
        border-color: transparent !important;
        width: auto;
        padding-inline: var(--cds-input-padding-inline);
        height: calc(100% - 2px);
        z-index: 2;
        color: var(--cds-color-text-secondary) !important;
      }
    }
  }
}

/* DatePicker */
.ant-picker {
  width: 100%;
  --cds-picker-icon-size: 14px;
  &.ant-picker-large {
    --cds-picker-icon-size: 16px;
  }
  .ant-picker-suffix {
    margin-inline-start: 8px;
    font-size: var(--cds-picker-icon-size);
  }
}

/* Select */
.ant-select {
  --cds-select-arrow-size: 14;
  &.ant-select-lg {
    --cds-select-arrow-size: 16;
  }
  .ant-select-arrow {
    font-size: var(--cds-select-arrow-size);
  }
}
