.layout {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 24px;
  background-image: url("../../assets/images/auth-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
