.userCard {
  padding-left: 30px;
  border-left: 1px solid var(--cds-color-border);
  @media (max-width: 1199px) {
    padding-left: 20px;
  }
  @media (max-width: 991px) {
    padding-left: 10px;
  }
}
.welcome {
  font-size: 16px;
  line-height: 19px;
  @media (max-width: 1199px) {
    display: none;
  }
}
.avatar {
  width: 40px;
  height: 40px;
  border: 4px solid #fff;
}
