.authButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  height: 40px;
  border: 0;
  background: linear-gradient(
    90deg,
    #003465 3.37%,
    #004e98 27.4%,
    #005bb2 44.79%,
    #0c3e9f 68.75%
  ) !important;
  border-radius: 7.11458px;
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
