.inner {
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  @media (max-width: 1920px) {
    margin: 0 30px 20px;
  }
  @media (max-width: 1199px) {
    margin: 0 20px 20px;
  }
}
.header {
  padding: 19px 55px;
  border-bottom: 1px solid #e2e8f3;
  @media (max-width: 1920px) {
    padding: 16px 30px;
  }
  @media (max-width: 1199px) {
    padding: 10px 20px;
  }
  h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #394b71;
    margin-bottom: 0;
  }
  :global {
    .ant-dropdown-button {
      margin-left: auto;
      width: unset;
    }
  }
}
.body {
  flex: 1;
}
.footer {
  padding: 16px 0;
  overflow: hidden;
}
