.inner {
  width: 795px;
  height: 454px;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 160px);
  min-height: 454px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(28px);
  border-radius: 65px;
  padding: 64px 35px 23px;
  @media (max-width: 576px) {
    height: unset;
    min-height: 340px;
    border-radius: 24px;
    padding: 40px 30px 30px;
  }
  :global {
    .ant-btn {
      width: 348px;
      max-width: 100%;
    }
  }
}
.title {
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 48px;
  text-align: center;
  @media (max-width: 576px) {
    font-size: 24px;
    height: auto;
    margin-bottom: 24px;
  }
}
.description {
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 48px;
  text-align: center;
  @media (max-width: 576px) {
    font-size: 16px;
    height: auto;
    margin-bottom: 24px;
  }
}
.back {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  a {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.5;
    transition: all ease-in-out 0.3s;
    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}
