.pickerTogger {
  position: relative;
  border: 0;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  @media (max-width: 600px) {
    width: 100%;
  }
}
.calendarInfo {
  flex: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  min-width: 128px;
  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
}
