.card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  padding: 16px;
}
.cardHeader {
  margin-bottom: 10px;
  min-height: 30px;
  gap: 10px;
}
.cardTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
